fastapi
uvicorn
pydantic
python-dotenv

langchain
langchain-core
langchain-community
langchain-text-splitters

langchain-qdrant
langchain-google-genai
langchain-huggingface
sentence-transformers

qdrant-client

pypdf

google-generativeai
requests
